.navBar{
  font-size: larger;
  font-weight: 700;
  display:flex;
  justify-content: space-evenly;
  align-items: center;
}
.navBar a{
  text-decoration: none;
  color:black
}
.navBar a:hover {
  font-size:2vmax;
  color:darkgreen;
}
.speedDial {
  position: fixed;
  right: 4vmax;
  top: 5vmax;
}

.speedDialIcon {
  width: 56px;
  height: 56px;
  border-radius: 100%;
}